<header class="app-header">
  <div class="header-left">
    <img class='logo' src="../../../assets/assets/navbarimg.png" alt="Logo" routerLink="" />
    <img class='title' src="../../../assets/assets/titlename.png" alt="Logo" routerLink="" />
  </div>

  <button class="menu-btn text-dark" *ngIf="showLogin"> <span
      class="input-group-text border-1 border-dark bg-transparent rounded-circle" (click)="openLoginPanel()">
      <i class="bi bi-person-fill"></i>
    </span>
  </button>
  <button class="menu-btn text-dark" *ngIf="showLogout" (click)="Logout()"> <span
      class="input-group-text border-1 border-dark bg-transparent rounded-circle">
      <i class="bi bi-box-arrow-in-right"></i>
    </span>
  </button>

  <!-- Auth is opened as modals from header -->
</header>
