

/* HERO */
.hero-section {
  position: relative;
  height: 400px;
  background: url('https://images.unsplash.com/photo-1506905925346-21bda4d32df4')
    center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.4);
}

.hero-content {
  position: relative;
  text-align: center;
  color: #fff;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  p {
    margin: 12px 0 24px;
    font-size: 1.2rem;
  }
}

.hero-button {
  padding: 12px 12px;
  border-radius: 10px;
  border: none;
  font-weight: 450;
  cursor: pointer;
}

/* FILTERS */
.filter-section {
  padding: 10px;
  display: flex;
  gap: 12px;
  overflow-x: auto;

  button {
    padding: 4px 14px;
    border-radius: 20px;
    border: none;
    background: #e8eaef;
    cursor: pointer;
    font-weight: 500;
  }

  .active {
    background: #059669;
    color: #fff;
  }
}

/* GRID */
.trek-grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}

/* CARD */
.trek-card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;

  &:hover {
    transform: translateY(-4px);
  }
}

.trek-image-container {
  position: relative;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .difficulty-badge {
    position: absolute;
    top: 12px;
    right: 12px;
    background: #059669;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.85rem;
  }
}

.trek-header {
  padding: 16px 16px 0;

  h3 {
    margin: 0;
    font-size: 1.3rem;
  }

  .location {
    color: #6b7280;
    font-size: 0.9rem;
  }
}

.trek-content {
  padding: 16px;
}

.trek-details {
  display: flex;
  justify-content: space-between;
  background: #f9fafb;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.trek-date {
  margin-bottom: 12px;
  color: #4b5563;
}

.highlights {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-bottom: 16px;

  .chip {
    background: #d1fae5;
    padding: 4px 10px;
    border-radius: 16px;
    font-size: 0.75rem;
  }
}

.trek-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e7eb;
  padding-top: 12px;
}

.price-amount {
  font-size: 1.6rem;
  font-weight: 700;
  color: #059669;
}

.book-btn {
  background: #059669;
  color: #fff;
  border: none;
  padding: 6px 6px;
  border-radius: 8px;
  cursor: pointer;
}


.loader-wrapper {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-loader {
  width: 48px;
  height: 48px;
  border: 4px solid #e5e7eb;
  border-top-color: #0d6efd;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
